*.bak
Link to *
.idea
/ISO_model/*.txt
/ISO_model/*.json
/ISO_model/part*
/acc_project/project.zip
/acc_project/*requirement*/*.json
/acc_project/diagrams/*.json
/acc_project/**definitions/*.json
*.tmp.dot
*.tmp.png
/venv
/meetings
/AUTOSAR
/ISO_model/generated/
/tools/rucm.nightlybuild.20130917/
/*.pptx
/SOAM.png
/data_models/src/
/ISO_model/scripts/tmp/
/data_models/model/project/project_model.ecore
/data_models/model/iso/iso_model/iso_model.ecore
/data_models/model/project/iso_part/extended_project_model.ecore
/data_models/.settings/
/data_models/bin/
/data_models/model/acc/
