*.bak
Link to *
.idea
test folder/
ISO_model/*.txt
ISO_model/*.json
project/project.zip
project/*requirement*/*.json
project/diagrams/*.json
project/**definitions/*.json
*.tmp.dot
*.tmp.png
venv
acc-mm.diagram
meetings
